html,
body {
    background-color: black;
    overflow-x: clip;
}

* {
    margin: 0;
    padding: 0;
    color: #F2F2F2;
    font-family: 'Monsterrat';
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 88%;
    margin: 0 auto;
}

.active {
    span {
        &::after {
            display: none;
        }
    }
}

// Header
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;

    .logo {
        border: 1px solid #90FF03;
        height: 100%;
    }

    a {
        color: #90FF03;
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        flex: 1;
        justify-content: center;
        border: 1px solid #90FF03;
        transition: .3s;

        &:last-child {
            margin-right: 10px;

            &:hover {
                background-color: #90FF03;
                transition: .3s;
                color: black;

                svg {
                    path {
                        stroke: black;
                    }
                }
            }
        }

        &:hover {
            background-color: #90FF03;
            transition: .3s;
            color: black;
        }
    }
}

.header-promo {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(../img/header-promo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    border-bottom: 1px solid #90FF03;

    .container {
        display: flex;
        justify-content: flex-end;
        height: 600px;

        h1 {
            position: relative;
            z-index: 5;
            font-size: 3.4em;
            font-weight: 700;
            bottom: 0px;
            align-self: flex-end;

            button {
                background-color: white;
                color: black;
                font-weight: 500;
                font-size: 0.453em;
                padding: 10px 30px;
                position: absolute;
                bottom: 5px;
                right: 0px;
                line-height: normal;
                border: none;
                border-radius: 28px;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    background-color: #90FF03;
                    transition: .3s;
                }
            }
        }
    }
}

// main
.about-us {
    position: relative;
    margin-top: 100px;

    .about-us-head {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .about-us-box {
        display: flex;
        position: relative;
        justify-content: space-between;
        top: 70px;

        .diagrams-img {
            width: 40%;
            display: flex;
            flex-direction: column;
            padding: 50px 0px 0px 50px;
            gap: 50px;

            h2 {
                font-size: 28px;
                font-weight: 500;
                width: fit-content;
                align-self: flex-start;
            }
        }

        .accordion-about-us {
            width: 50%;

            h1 {
                font-size: 32px;
                color: #90FF03;
            }

            .accordion {
                margin: 50px auto;

                .accordion-item {
                    border: 1px solid #0066FF;

                    .accordion-title {
                        position: relative;
                        cursor: pointer;
                        background-color: transparent;
                        padding: 20px;
                        text-align: left;
                        font-weight: bold;

                        span {
                            height: 3px;
                            content: '';
                            width: 30px;
                            position: absolute;
                            background-color: #F2F2F2;
                            right: 20px;
                            top: 28px;

                            &::after {
                                height: 3px;
                                content: '';
                                width: 30px;
                                position: absolute;
                                background-color: #F2F2F2;
                                right: 0;
                                transform: rotate(90deg);
                            }
                        }
                    }

                    .accordion-content {
                        display: none;
                        transition: .3s;
                        margin-bottom: 20px;
                        padding: 20px;
                        text-align: left;
                    }
                }
            }

        }
    }



}

.robots-rpa {
    z-index: 1;
    position: relative;
    height: 800px;

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .bottom-line-about_us {
        width: 100%;
        height: 95.8px;
        background-image: linear-gradient(90deg, #06F 32.27%, rgba(0, 0, 0, 0.00) 100%);
        margin-top: 300px;
        display: flex;
        justify-content: space-between;

    }

    .rpa-info {
        display: flex;
        justify-content: space-between;
        top: 100px;
        position: relative;
        z-index: 100;

        .robots-bussines {
            width: 30%;
            padding-top: 50px;
            position: relative;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 150px;

            img {
                z-index: 1;
                position: absolute;
                left: 0;
                height: 100%;
                width: 100%;
            }

            p {
                font-size: 1.3em;
                font-weight: 500;
            }
        }

        .video-robots {
            width: 50%;

            h1 {
                font-size: 32px;
                color: #90FF03;
                font-weight: 700;
                line-height: 120%;
                text-transform: uppercase;
            }
        }
    }

    .rpa-bottom {
        position: relative;
        top: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .plus {
            content: '';
            height: 5px;
            width: 56px;
            position: absolute;
            background-color: #90FF03;
            border-radius: 3px;
            right: 0;

            &:nth-child(2) {
                left: 0;
            }

            &::after {
                content: '';
                height: 5px;
                width: 56px;
                border-radius: 3px;
                position: absolute;
                background-color: #90FF03;
                transform: rotate(90deg);
            }
        }

        .line {
            height: 3px;
            background-color: #F2F2F2;
            width: 90%;
        }
    }

}

.examples {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .short-about_robots {
        position: absolute;
        left: 0;
        top: 0;
        width: 30%;
        height: 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &::before {
            content: '';
            width: 0;
            position: absolute;
            height: 0;
        }

        svg {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;

        }

        h2 {
            z-index: 10;
            font-size: 1.1em;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    h1 {
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        color: #90FF03;
    }
    .back {
        position: absolute;
        width: 100%;
        top: 0;
    }
    .card-block {
        width: 100%;
        display: grid;
        height: 300px;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(2, 49%);
        position: relative;
        top: 200px;
        column-gap: 30px;
        row-gap: 70px;

        .card {
            display: flex;
            align-items: flex-start;
            position: relative;
            cursor: pointer;
            gap: 20px;
            img{
                width: 20%;
            }
            .card-box {
                position: relative;
                width: 70%;
                height: 100%;
                display: flex;
                align-items: center;
                &:hover{
                    p{
                        color: black;
                        font-weight: 700;
                        transition: .4s;
                    }
                    svg{
                        transition: .4s;
                        fill: #90FF03;
                    }
                }
                svg {
                    width: 100%;
                    position: absolute;
                    transition: .3s;
                }

                p {
                    margin: 0 auto;
                    z-index: 1;
                    transition: .3s;
                }
            }
        }
    }
}

.application{
    margin-top:450px ;
    display: flex;
    align-items: center;
    .application-info{
        position: relative;
        width: 40%;
        .title{
            position: relative;
            height: 150px;
            margin: 100px auto;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            svg{
                position: absolute;
                top: 0;
            }
            h2{
                text-transform: uppercase;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
            }
        }
        .subtitle{
            p{
                color: #06F;
                font-size: 23px;
                font-style: normal;
                font-weight: 500;
            }
            ul{
                width: 100%;
                li{
                    margin: 20px auto;
                    width: 90%;
                }
            }
        }
    }
    .application-form{
        width: 70%;
        h1{
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 42px */
            text-transform: uppercase;
            color: #90FF03;
        }
        .form-block{
            display: flex;
            width: 100%;
            align-self: center;
            margin-top: 100px;
            form{
                width: 50%;
                background-color: #F2F2F2;
                display: flex;
                flex-direction: column;
                padding: 10% 2%;
                gap: 20px;
                input{
                    border: none ;  
                    background-color: transparent;
                    border-bottom: 1px solid #0F0F0F;
                    outline: none;
                    color:#9E9E9E ;
                }
                button{
                    color: #0F0F0F;
                    background-color: #9E9E9E;
                    border: none;
                    height: 40px;
                    cursor: pointer;
                    transition: .3s;
                    &:hover{
                        transition: .3s;
                        background-color: #90FF03;

                    }
                }
                p{
                    color: #0F0F0F;
                    font-size: 14px;
                    text-decoration: underline;
                }
            }
            img{
                width: 50%;
            }
        }
    }
}