html,
body {
  background-color: black;
  overflow-x: clip;
}

* {
  margin: 0;
  padding: 0;
  color: #F2F2F2;
  font-family: "Monsterrat";
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 87.5%;
  margin: 0 auto;
}

.active span::after {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
}
.navbar .logo {
  border: 1px solid #90FF03;
  height: 100%;
}
.navbar a {
  color: #90FF03;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1;
  justify-content: center;
  border: 1px solid #90FF03;
  transition: 0.3s;
}
.navbar a:last-child {
  margin-right: 10px;
}
.navbar a:last-child:hover {
  background-color: #90FF03;
  transition: 0.3s;
  color: black;
}
.navbar a:last-child:hover svg path {
  stroke: black;
}
.navbar a:hover {
  background-color: #90FF03;
  transition: 0.3s;
  color: black;
}

.header-promo {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url(../img/header-promo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  border-bottom: 1px solid #90FF03;
}
.header-promo .container {
  display: flex;
  justify-content: flex-end;
  height: 600px;
}
.header-promo .container h1 {
  position: relative;
  z-index: 5;
  font-size: 3.4em;
  font-weight: 700;
  bottom: 0px;
  align-self: flex-end;
}
.header-promo .container h1 button {
  background-color: white;
  color: black;
  font-weight: 500;
  font-size: 0.453em;
  padding: 10px 30px;
  position: absolute;
  bottom: 5px;
  right: 0px;
  line-height: normal;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  transition: 0.3s;
}
.header-promo .container h1 button:hover {
  background-color: #90FF03;
  transition: 0.3s;
}

.about-us {
  position: relative;
  margin-top: 100px;
}
.about-us .about-us-head {
  position: absolute;
  top: 0;
  width: 100%;
}
.about-us .about-us-box {
  display: flex;
  position: relative;
  justify-content: space-between;
  top: 70px;
}
.about-us .about-us-box .diagrams-img {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 50px;
  gap: 50px;
}
.about-us .about-us-box .diagrams-img h2 {
  font-size: 28px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-start;
}
.about-us .about-us-box .accordion-about-us {
  width: 50%;
}
.about-us .about-us-box .accordion-about-us h1 {
  font-size: 32px;
  color: #90FF03;
}
.about-us .about-us-box .accordion-about-us .accordion {
  margin: 50px auto;
}
.about-us .about-us-box .accordion-about-us .accordion .accordion-item {
  border: 1px solid #0066FF;
}
.about-us .about-us-box .accordion-about-us .accordion .accordion-item .accordion-title {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  padding: 20px;
  text-align: left;
  font-weight: bold;
}
.about-us .about-us-box .accordion-about-us .accordion .accordion-item .accordion-title span {
  height: 3px;
  content: "";
  width: 30px;
  position: absolute;
  background-color: #F2F2F2;
  right: 20px;
  top: 28px;
}
.about-us .about-us-box .accordion-about-us .accordion .accordion-item .accordion-title span::after {
  height: 3px;
  content: "";
  width: 30px;
  position: absolute;
  background-color: #F2F2F2;
  right: 0;
  transform: rotate(90deg);
}
.about-us .about-us-box .accordion-about-us .accordion .accordion-item .accordion-content {
  display: none;
  transition: 0.3s;
  margin-bottom: 20px;
  padding: 20px;
  text-align: left;
}

.robots-rpa {
  z-index: 1;
  position: relative;
  height: 800px;
}
.robots-rpa .background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.robots-rpa .bottom-line-about_us {
  width: 100%;
  height: 95.8px;
  background-image: linear-gradient(90deg, #06F 32.27%, rgba(0, 0, 0, 0) 100%);
  margin-top: 300px;
  display: flex;
  justify-content: space-between;
}
.robots-rpa .rpa-info {
  display: flex;
  justify-content: space-between;
  top: 100px;
  position: relative;
  z-index: 100;
}
.robots-rpa .rpa-info .robots-bussines {
  width: 30%;
  padding-top: 50px;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
}
.robots-rpa .rpa-info .robots-bussines img {
  z-index: 1;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}
.robots-rpa .rpa-info .robots-bussines p {
  font-size: 1.3em;
  font-weight: 500;
}
.robots-rpa .rpa-info .video-robots {
  width: 50%;
}
.robots-rpa .rpa-info .video-robots h1 {
  font-size: 32px;
  color: #90FF03;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.robots-rpa .rpa-bottom {
  position: relative;
  top: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.robots-rpa .rpa-bottom .plus {
  content: "";
  height: 5px;
  width: 56px;
  position: absolute;
  background-color: #90FF03;
  border-radius: 3px;
  right: 0;
}
.robots-rpa .rpa-bottom .plus:nth-child(2) {
  left: 0;
}
.robots-rpa .rpa-bottom .plus::after {
  content: "";
  height: 5px;
  width: 56px;
  border-radius: 3px;
  position: absolute;
  background-color: #90FF03;
  transform: rotate(90deg);
}
.robots-rpa .rpa-bottom .line {
  height: 3px;
  background-color: #F2F2F2;
  width: 90%;
}

.examples {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.examples .short-about_robots {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.examples .short-about_robots::before {
  content: "";
  width: 0;
  position: absolute;
  height: 0;
}
.examples .short-about_robots svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.examples .short-about_robots h2 {
  z-index: 10;
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
}
.examples h1 {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #90FF03;
}
.examples .back {
  position: absolute;
  width: 100%;
  top: 0;
}
.examples .card-block {
  width: 100%;
  display: grid;
  height: 300px;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 49%);
  position: relative;
  top: 200px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 70px;
}
.examples .card-block .card {
  display: flex;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
  gap: 20px;
}
.examples .card-block .card img {
  width: 20%;
}
.examples .card-block .card .card-box {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}
.examples .card-block .card .card-box:hover p {
  color: black;
  font-weight: 700;
  transition: 0.4s;
}
.examples .card-block .card .card-box:hover svg {
  transition: 0.4s;
  fill: #90FF03;
}
.examples .card-block .card .card-box svg {
  width: 100%;
  position: absolute;
  transition: 0.3s;
}
.examples .card-block .card .card-box p {
  margin: 0 auto;
  z-index: 1;
  transition: 0.3s;
}/*# sourceMappingURL=stye.css.map */