@import url('https://fonts.cdnfonts.com/css/montserrat');

html,
body {
    background-color: black;
    overflow-x: clip;
}

* {
    margin: 0;
    padding: 0;
    color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.container {
    width: 88%;
    margin: 0 auto;
}
.active {
    span {
        &::after {
            display: none;
        }
    }
}
.active-burger{
    transform: translateX(0)!important;
    display: block;
    transition: .4s;
    span{
        transition: .4s;
        &:nth-child(2){
            display: none;
        }
        &:nth-child(3){
            transform: rotate(39deg);
            height: 5px;
            border-radius: 3px;
        }
        &:nth-child(1){
            transform: rotate(317deg);
            height: 5px;
            border-radius: 3px;
        }
    }
}
h1 {
    font-size: 32px;
    color: #90FF03;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}
.pop-up{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    .blur{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0, .3);
    }
    .registr-window{
        width: 50%;
        height: 60%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
        position: relative;
        .form-block{
            width: 70%;
            background-image: none;
            form {
                display: grid;
                gap: 40px;
                input {
                    border: none;
                    background-color: transparent;
                    border-bottom: 1px solid #0F0F0F;
                    outline: none;
                    color: #9E9E9E;
                }
                button {
                    color: #0F0F0F;
                    background-color: #9E9E9E;
                    border: none;
                    height: 40px;
                    cursor: pointer;
                    transition: .3s;
    
                    &:hover {
                        transition: .3s;
                        background-color: #90FF03;
    
                    }
                }
    
                p {
                    color: #0F0F0F;
                    font-size: 14px;
                    text-decoration: underline;
                    display: flex;
                    align-items: center;
                    height: 20px;
                    input[type="radio"] {
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        border: none;
                        outline: none;
                        width: 15px;
                        height: 15px;
                        background-color: #fff;
                        border: 1px solid #000;
                        border-radius: 0;
                        cursor: pointer;
                        margin-bottom: 0;
                        margin-right: 5px;
                        
                        &:checked {
                            background-color: #90FF03;
                            color: #fff;
                        }
                    }
    
                }
            }
        }
    }

}.open-popup{
    display: flex;
}
// Header
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;

    .logo {
        border: 1px solid #90FF03;
        height: 100%;
    }

    a {
        color: #90FF03;
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        flex: 1;
        justify-content: center;
        border: 1px solid #90FF03;
        transition: .3s;

        &:last-child {
            margin-right: 10px;

            &:hover {
                background-color: #90FF03;
                transition: .3s;
                color: black;

                svg {
                    path {
                        stroke: black;
                    }
                }
            }
        }

        &:hover {
            background-color: #90FF03;
            transition: .3s;
            color: black;
        }
    }
}
.burger-btn{
    position: absolute;
    top: 15px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: none;
    z-index: 100;
    span{
        transition: .4s;
        width: 50px;
        height: 2px;
        background-color: #90FF03;
        border-radius: 1px;
        position: absolute;
        &:nth-child(2){
            top: 15px;
        }
        &:nth-child(3){
            top: 30px;
        }
    }
}

.menu-content{
    transform: translate(100%);
    width: 65%;
    background-color: #000;
    height: 100%;
    transition: .4s;
    position: fixed;
    z-index: 60;
    right: 0;
    top: 0;
    .content-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-left: 3px solid #90FF03;
        a{
            text-decoration: none;
            color: #90FF03;
            font-weight: 700;
            font-size: 23px;
            border-bottom: solid 1px #90FF03;
            flex-grow: 1;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.header-promo {
    position: relative;
    width: 100%;
    background-image: url(../img/header-promo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    border-bottom: 1px solid #90FF03;

    .container {
        display: flex;
        justify-content: flex-end;
        height: 100%;

        h1 {
            color: #F2F2F2;
            position: relative;
            z-index: 5;
            font-size: 2.9em;
            font-weight: 700;
            bottom: 0;
            align-self: flex-end;

            button {
                background-color: white;
                color: black;
                font-weight: 500;
                font-size: 0.53em;
                padding: 10px 30px;
                position: absolute;
                bottom: 5px;
                right: 0px;
                line-height: normal;
                border: none;
                border-radius: 28px;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    background-color: #90FF03;
                    transition: .3s;
                }
            }
        }
    }
}

// main
.about-us {
    position: relative;
    margin-top: 100px;

    .about-us-head {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .about-us-box {
        display: flex;
        position: relative;
        justify-content: space-between;
        top: 70px;

        .diagrams-img {
            width: 40%;
            display: flex;
            flex-direction: column;
            padding: 50px 0px 0px 50px;
            gap: 50px;

            h2 {
                font-size: 28px;
                font-weight: 500;
                width: fit-content;
                align-self: flex-start;
            }
        }

        .accordion-about-us {
            width: 50%;



            .accordion {
                margin: 50px auto;

                .accordion-item {
                    border: 1px solid #0066FF;

                    .accordion-title {
                        position: relative;
                        cursor: pointer;
                        background-color: transparent;
                        padding: 20px;
                        text-align: left;
                        font-weight: bold;

                        span {
                            height: 3px;
                            content: '';
                            width: 30px;
                            position: absolute;
                            background-color: #F2F2F2;
                            right: 20px;
                            top: 28px;

                            &::after {
                                height: 3px;
                                content: '';
                                width: 30px;
                                position: absolute;
                                background-color: #F2F2F2;
                                right: 0;
                                transform: rotate(90deg);
                            }
                        }
                    }

                    .accordion-content {
                        display: none;
                        transition: .3s;
                        margin-bottom: 20px;
                        padding: 20px;
                        text-align: left;
                    }
                }
            }

        }
    }



}

.robots-rpa {
    z-index: 1;
    position: relative;
    height: 100vh;
    .background {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .bottom-line-about_us {
        width: 100%;
        height: 95.8px;
        background-image: linear-gradient(90deg, #06F 32.27%, rgba(0, 0, 0, 0.00) 100%);
        margin-top: 300px;
        display: flex;
        justify-content: space-between;

    }

    .rpa-info {
        display: flex;
        justify-content: space-between;
        top: 100px;
        position: relative;
        z-index: 100;

        .robots-bussines {
            width: 30%;
            padding-top: 50px;
            position: relative;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 150px;

            img {
                z-index: 1;
                position: absolute;
                left: 0;
                height: 100%;
                width: 100%;
            }

            p {
                font-size: 1.3em;
                font-weight: 500;
            }
        }

        .video-robots {
            width: 50%;
            video{
                width: 90%;
                margin: 50px auto;
            }
        }
    }

    .rpa-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .plus {
            content: '';
            height: 5px;
            width: 56px;
            position: absolute;
            background-color: #90FF03;
            border-radius: 3px;
            right: 0;

            &:nth-child(2) {
                left: 0;
            }

            &::after {
                content: '';
                height: 5px;
                width: 56px;
                border-radius: 3px;
                position: absolute;
                background-color: #90FF03;
                transform: rotate(90deg);
            }
        }

        .line {
            height: 3px;
            background-color: #F2F2F2;
            width: 90%;
        }
    }

}

.examples {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 100px;
    justify-content: space-between;
    .short-about_robots {
        position: absolute;
        left: 0;
        top: 0;
        width: 30%;
        height: 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &::before {
            content: '';
            width: 0;
            position: absolute;
            height: 0;
        }

        svg {
            position: absolute;
            top: 0;
            height: 100%;
        }

        h2 {
            z-index: 10;
            font-size: 1.1em;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    .back {
        position: absolute;
        width: 100%;
        top: 0;
    }

    .card-block {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(2, 49%);
        row-gap: 70px;
        height: 60%;
        .card {
            display: flex;
            align-items: flex-start;
            cursor: pointer;
            gap: 20px;
            img {
                width: 20%;
            }

            .card-box {
                position: relative;
                width: 70%;
                height: 100%;
                display: flex;
                align-items: center;

                &:hover {
                    p {
                        color: black;
                        font-weight: 700;
                        transition: .4s;
                    }

                    svg {
                        transition: .4s;
                        fill: #90FF03;
                    }
                }

                svg {
                    width: 100%;
                    position: absolute;
                    transition: .3s;
                }

                p {
                    margin: 0 auto;
                    z-index: 1;
                    transition: .3s;
                }
            }
        }
    }
}
.application {
    height: 90vh;
    margin-top: 100px;
    .application-box {
        display: flex;
        align-items: center;
        .application-info {
            position: relative;
            width: 40%;
            display: flex;
            flex-direction: column;
            .title {
                position: relative;
                height: 18vh;
                margin: 100px auto;
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                svg {
                    position: absolute;
                    top: 0;
                }

                h2 {
                    text-transform: uppercase;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 500;
                }
            }

            .subtitle {
                p {
                    color: #06F;
                    font-size: 23px;
                    font-style: normal;
                    font-weight: 500;
                }

                ul {
                    width: 100%;

                    li {
                        margin: 20px auto;
                        width: 90%;
                    }
                }
            }
        }

        .application-form {
            width: 60%;
            .form-block {
                display: flex;
                margin-top: 50px;
                form {
                    width: 50%;
                    background-color: #F2F2F2;
                    display: grid;
                    padding: 10% 2%;
                    gap: 20px;
                    input {
                        border: none;
                        background-color: transparent;
                        border-bottom: 1px solid #0F0F0F;
                        outline: none;
                        color: #9E9E9E;
                    }
                    button {
                        color: #0F0F0F;
                        background-color: #9E9E9E;
                        border: none;
                        height: 40px;
                        cursor: pointer;
                        transition: .3s;

                        &:hover {
                            transition: .3s;
                            background-color: #90FF03;

                        }
                    }

                    p {
                        color: #0F0F0F;
                        font-size: 14px;
                        text-decoration: underline;
                        display: flex;
                        align-items: center;

                        input[type="radio"] {
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            border: none;
                            outline: none;
                            width: 15px;
                            height: 15px;
                            background-color: #fff;
                            border: 1px solid #000;
                            border-radius: 0;
                            cursor: pointer;
                            margin-right: 5px;

                            &:checked {
                                background-color: #90FF03;
                                color: #fff;
                            }
                        }

                    }
                }

                img {
                    width: 50%;
                }
            }
        }

    }
    
    .lines {
        .line {
            width: 100%;
            height: 10px;
            position: relative;
            background-color: #000;
            border: 2px solid white;
            margin: 20px auto;
            display: flex;
            align-items: center;

            .white-line {
                background-color: #fff;
                height: 8px;
                width: 90%;
                margin: 0 auto;
                overflow: hidden;

                .animated-element {
                    height: 100%;
                    width: 10%;
                    top: 0;
                    background-color: #06F;
                    position: absolute;
                    animation: moveElement 3s linear infinite;

                    @keyframes moveElement {
                        0% {
                            transform: translateX(0);
                        }

                        50% {
                            transform: translateX(600%);
                        }

                        100% {
                            transform: translateX(0);
                        }
                    }
                }

                .animated-element1 {
                    height: 90%;
                    width: 10%;
                    top: 0;
                    background-color: #06F;
                    position: absolute;
                    animation: moveElement1 5s linear infinite;

                    @keyframes moveElement1 {
                        0% {
                            transform: translateX(0);
                        }

                        50% {
                            transform: translateX(800%);
                        }

                        100% {
                            transform: translateX(0);
                        }
                    }
                }

                .animated-element2 {
                    height: 100%;
                    width: 10%;
                    top: 0;
                    background-color: #06F;
                    position: absolute;
                    animation: moveElement2 4s linear infinite;

                    @keyframes moveElement2 {
                        0% {
                            transform: translateX(0);
                        }

                        50% {
                            transform: translateX(800%);
                        }

                        100% {
                            transform: translateX(0);
                        }
                    }
                }

            }
        }
    }
}
.robots-benefits {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .benefits-diagrams {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            position: relative;
            height: 170px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            svg {
                bottom: 0;
                width: 100%;
                position: absolute;
            }
            h2{
                font-weight: 500;
                font-size: 23px;
                text-transform: uppercase;
            }
        }

        .diagram1 {
            height: 15vh;
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;
            margin-top: 100px;
            border-left: 1px solid #0066FF;
            border-right: 1px solid #0066FF;
            svg {
                margin: 0 auto;
                @keyframes moveLine {
                    0% {
                        stroke-dashoffset: 1000;
                    }
                    50%{
                        stroke-dashoffset: 500;
                    }
                    100% {
                        stroke-dashoffset: 0;
                    }
                }
                path {
                    stroke-dasharray: 500;
                    stroke-dashoffset: 500;
                    animation: moveLine 7s linear infinite;
                }
            }
            img{
                position: absolute;
                width: 100%;
                top: 0;
                opacity: .4;
            }
        }
        .diagram2{
            width: 100%;
            margin-top: 150px;
            img{
                width: 100%;
            }
        }
    }
    .benefits-cards{
        width: 60%;
        margin-top: 50px;
        h1{
            margin-bottom: 100px;
            font-size: 30px;
        }
        .card-box{
            margin-top:150px;
            display: grid;
            grid-template-columns: repeat(2, 45%);
            column-gap: 20px;
            justify-content: space-between; 
            row-gap: 40px;
            .card{
                width:100% ;
                h3{
                    color: #90FF03;
                    font-size: 28px;
                    font-weight: 400;
                    margin-bottom: 10px;
                }
                p{
                    width: 100%; 
                    padding: 20px;
                    position: relative;
                    background-image: linear-gradient(90deg, rgba(0, 102, 255, 0.66) 32.27%, rgba(0, 0, 0, 0.00) 100%);
                    &::after{
                        width: 10%;
                        position: absolute;
                        left: 0;
                        border: 1px solid #90FF03;
                        border-right: none;
                        height: 100%;
                        content: '';
                        top: 0;
                    }
                    &::before{
                        width: 10%;
                        position: absolute;
                        right: 0;
                        border: 1px solid #90FF03;
                        border-left: none;
                        height: 100%;
                        content: '';
                        top: 0;
                    }

                }
                &:last-child{
                    width: 100%;

                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }

}
.free-workers{
    position: relative;
    height: auto;
    padding-top: 70px;  
    padding-bottom: 100px;
        .border{
            position: absolute;
            width: 100%;
            &:nth-child(1){
                top: 0;        
            }
            &:nth-child(2){
                bottom: 0;
                transform: rotate(180deg);
                position: absolute;
            }
        }
        .workers-title{
            display: flex;
            align-items: center;
            width: 75%;
            justify-content: space-between;
            svg{
                g{
                    path{
                        animation: circleMove  20s linear infinite;
                        transform-origin: center center;
                    }
                }
                @keyframes circleMove {
                    from {
                        transform: rotate(0deg);
                    }
                    to{
                        transform: rotate(360deg);
                    }
                }
            }
        }
        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin-top: 100px;
            .card{
                height: 30vh;
                width: 32%;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                display: flex;
                position: relative;
                h2{
                    color: #06F;
                    font-size: 69px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                }
                p{
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-top: 30px;
                }
                span{
                    width: 10px;
                    height: 10px;
                    background-color: #F2F2F2;
                    position: absolute;
                    right: 0;
                    bottom: -15px;
                    &:nth-child(4){
                        right: 15px;
                    }
                    &:nth-child(3){
                        right: 30px;
                    }
                }
                &::after{
                    width: 10%;
                    position: absolute;
                    height: 100%;
                    left: 0;
                    content: '';
                    border: 1px solid #F2F2F2;
                    border-right: none;
                }
                &::before{
                    width: 10%;
                    position: absolute;
                    height: 100%;
                    right: 0;
                    content: '';
                    border: 1px solid #F2F2F2;
                    border-left: none;
                }
            }
        }
}
// footer
footer{
    .footer-application{
        position: relative;
        padding: 150px 0;
        .application-box{
            background-color: rgba(242, 242, 242, 1);
            width: 100%;
            padding: 100px 50px;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            h2{
                color:  #0F0F0F;
                font-size: 44px;
                font-weight: 700;
                line-height: 120%; 
                text-transform: uppercase;
            }
            button{
                background-color: #90FF03;
                color: #000;
                width: 50%;
                height: 70px;
                border-radius: 100px;
                font-weight: 600;
                font-size: 23px;
                margin-top: 50px;
                border: none;
                cursor: pointer;
                transition: .3s;
                &:hover{
                    opacity: .4;
                    transition: .3s;
                }
            }
        }
        .btn-top-arrow{
            background-color: transparent;
            border: none;
            position: absolute;
            right: 0;
            bottom: 20px;
            cursor: pointer;
            transition: .3s;
            &:hover{
                background-color: #90FF03;
                transition: .3s;
                svg{
                   path{
                        stroke: black;
                   }
                }
            }
        }
    }
    @media (max-width:1024px) {
        .application{
            .application-box{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .footer-links{
        border-top: 1px solid #90FF03;
        height: 40vh;
        display: flex;
        align-items: center;
        .container{
            display: flex;
            align-items: flex-start;
            height: 80%;
            position: relative;
            gap: 10%;
            .links{
                display: flex;
                width: 60%;
                justify-content: space-between;
                height: fit-content;
                padding-top: 20px;
                .item{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    h3{
                        color: #90FF03;
                        font-weight: 700;
                        height: 40px;
                    }
                    a{
                        font-size: 18px;
                        margin-top: 10px;
                        font-weight: 400;
                        text-decoration: none;
                    }
                }
            }
            .policy{
                position: absolute;
                bottom: 0;
                text-decoration: none;
            }
        }
    }
    @media (max-width:1024px){
        .footer-links{
            .container{
                .links{
                    width: auto;
                }
            }

        }
    }
}
.title-policy{
    width: 100%;
    display: flex;
    gap: 15px;
    margin-top: 100px;
    padding-right: 50px;
    flex-direction: column;
    align-items: flex-end;
    p{
        width: 70%;
    }
}
@media (max-width:1024px){
    .free-workers{
        .workers-title{
            width: auto;
        }
        .cards{
            flex-wrap: wrap;
            .card{
                text-align: center;
            }
        }
    }
    .application{
        width: 95%;
        .application-box{
            align-items: flex-end;
            .application-form{
                text-align: center;
                img{
                    display: none;
                }
                .form-block{
                    justify-content: center;
                    form{
                        width: 80%;
                        padding: 50px 30px;
                        border: #06F 4px solid;
                        border-radius: 40px;
                        input{
                            padding: 20px 0;
                            font-size: 20px;
                        }
                        #radio-btn{
                            padding: 0;
                            width: 30px;
                            height: 30px;
                        }
                        button{
                            border-radius: 30px;
                            height: 50px;
                        }
                    }
                }

            }
        }
    }
     .examples{  
       align-items: flex-end;
       text-align: right;
       p{
        text-align: center;
       }
       .card-block{
            column-gap: 0;
            .card{
                gap: 10px;
            }
       }
    }
    .robots-rpa {
        .rpa-info{
            .robots-bussines{
                width: 45%;
            }
            .video-robots{
                text-align: center;
            }
        }
    }
    .container{
        width: 90%;
    }
     .navbar{
        a{
            &:last-child{
                margin-right: 0;
            }
        }
    }
    
}

@media (max-width:768px){
    .about-us{
        margin-top: 170px;
        .about-us-box{
           display: grid;
           grid-template-columns: 100%;
           gap: 20px;
            .diagrams-img{
                display: flex;
                flex-direction: row;
                padding: 0;
                width: 100%;
                gap: 10px;
                h2{
                    position: absolute;
                }
                img{
                    margin-top: 100px;
                    width: 50%;
                }
            }
            .accordion-about-us{
                width: 100%;
                margin: 0 auto;
            }
        }
    }
    .header-promo {
        height: 50vh;
        .container{
            width: 95%;
            justify-content: center;
            h1{
                bottom: -100px;
                font-size: 35px;
                button{
                    bottom: 0;
                }
            }
        }

    }
    .robots-rpa{
        height: 100vh;
        .bottom-line-about_us{
            margin-top: 200px;
        }
    }
    .examples {
        margin-top: 100px;
        height: auto;
        .short-about_robots{
            text-align: center;
        }
        .card-block{
            grid-template-columns: repeat(2, 49%);
            grid-template-rows: 1fr 1fr 1fr ;
            margin-top: 200px;
            row-gap: 150px;

        }
    }
    .application{
        margin-top: 350px;
        width: 100%;
        .application-box{
            flex-direction: column;
            align-items: center;
            .application-form{
                width: 100%;
                h1{
                    display: none;
                }
                .form-block{
                    width: 100%;
                    form{
                        width: 100%;
                        height: fit-content;
                        display: grid;
                        grid-template-areas:'b b'
                                            'c c';
                        align-items: center;
                        button{
                            margin-top: 30px;
                        }
                       }
                }
               
            }
            .application-info{
                width: 100%;
                height: auto;
                .subtitle{
                    width: 70%;
                    text-align: center;
                    padding: 30px 0;
                    border-radius: 5px;
                    ul{
                        list-style-type: none;
                    }
                    margin: 0 auto;
                    border: 2px solid #F2F2F2;
                }
                .title{
                    display: none;
                }
            }
        }
    }
    .navbar{
        a{
             display: none;
        }
        .logo{
         border: none;
        }
    }
    .burger-btn{
        display: block;
    }
    .robots-benefits{
        height: auto;
        top: 200px;
        flex-direction: column;
        .benefits-diagrams{
            width: 100%;
            margin-top: 100px;
            flex-direction: row;
            flex-wrap: wrap;
            .diagram2{
                display: none;
            }
        }
        .benefits-cards{
            z-index: 100;
            height: auto;
            width: 100%;
        }
    }
    .free-workers{
        margin-top: 200px;
        .workers-title{
            text-align: center;
            flex-direction: column-reverse;
        }
        .cards {
            display: grid;
            grid-template-areas: 
              'A A' 
              'B B';
            grid-template-columns: 1fr 1fr;
            width: 100%;
            gap: 10px;
            row-gap: 30px;
            .card {
             width: 100%;
              &:nth-child(2) {
                grid-area: B;
                width: 60%;
                margin: 0 auto;
              }
            }
          }
    }
    footer{
        .footer-links{
            height: auto;
            .container{
                flex-direction: column;
                padding-bottom: 100px;
                .links{
                    width: 100%;
                }
            }
        }
    }

}
@media (max-height:600px){
    .application{
        margin-top: 200px;
        .application-box{
            width: 100%;
            justify-content: space-between;
            .application-form{
                align-items: center;
                display: flex;
                h1{
                    display: none;
                }
                .form-block{
                    width: 100%;
                    margin-bottom: 30px;
                    height: 70%;
                }
            }
        }
    }
    .pop-up{
        .registr-window{
            height: 70%;
        }
    }
    .robots-benefits{
        height: auto;
        position: unset;
        margin-top: 200px;
        .benefits-cards{
            height: 80%;
            flex-direction: column;
            justify-content: space-around;
            display: flex;
            h1{
                margin-bottom: 0;
            }
            .card-box{
                margin-top: 0;
                row-gap: 20px;
                align-content: stretch;
                grid-template-rows: 1fr 1fr 1fr;
                .card{
                    width: 100%;
                    height: 100%;
                    p{
                        padding: 0;
                        height: 50%;
                        display: flex;
                        align-items: center;
                        text-align: center;
                    }
                }
            }
        }
    }
    .free-workers{
        padding: 70px 0px;
        height: auto;
    }
}

@media (max-width:425px){
    .container{
        width: 100%;
    }
    .menu-content{
        width: 100%;
    }
    h1{
        font-size: 25px;
    }
    .header-promo{
      .container{
        h1{
            bottom: -60px;
            font-size: 20px;
            position: absolute;
            button{
                left: 50%;
                transform: translate(-50%, 0);
                bottom: -70px;
                font-weight: 500;
                width: 70%;
                font-size: 23px;
                padding: 10px 0;
            }
        }
      }
    }
    .about-us {
        .about-us-box{
            flex-direction: column-reverse;
            display: flex;
            .diagrams-img{
                display: grid;
                img{
                    width: 90%;
                    margin: 50px auto;
                }
            }
            .accordion-about-us{
                text-align: center;
                .accordion-title{
                    font-size: 13px;
                }
            }
        }
    }
    .robots-rpa{
        .rpa-info{ 
            width: 100%;
            .robots-bussines{
                display: none;
            }
            .video-robots{
                width: 100%;
            }
        }

    }
    .examples{
        align-items: center;
        h1{
            text-align: center;
        }
        .short-about_robots{
            display: none;
        }
        .back{
            display: none;
        }
        .card-block{
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            .card{
                flex-direction: row-reverse;
                width: 100%;
            }
        }
    }
    .application{
        margin-top: 100px;
        .application-box{
            .application-form{

                .form-block{
                    form{
                        display: flex;
                        flex-direction: column;
                        input{
                            width: 100%;
                        }
                        button{
                            width: 100%;
                        }
                    }
                }
            }
            .application-info{
                .subtitle{
                    width: 95%;
                }
            }
        }
        .lines{
            width: 80%;
            margin: 0 auto;
        }
    }
    .pop-up{
        .registr-window{
            width: 90%;
            height: 70%;
            .form-block{
                width: 90%;
                form {
                    display: grid;
                    gap: 40px;
                    
                    p {
                        input[type="radio"] {
                            width: 25px;
                            height: 20px;
                        }
        
                    }
                }
            }
        }
    
    }
    .robots-benefits{
        margin-top: 400px;
        top: 0;
        .benefits-cards{
            width: 90%;
            .card-box{
                display: flex;
                flex-direction: column;
                .card{
                    margin: 0 auto;
                    p{
                        padding: 30px 20px;
                        text-align: left;
                    }

                }
            }
        }
    }
    .free-workers{
        .container{
            .cards{
                display: flex;
                flex-direction: column;
                width: 90%;
                margin: 0 auto;
                .card{
                    width: 100%;
                }
            }
        }
    }
    footer{
        margin-top: 200px;
        .footer-application{
            .application-box{
                padding: 50px 0;
                h2{
                    font-size: 30px;
                }
                .application-btn{
                    width: 100%;
                }
            }
        }   
        .footer-links{
            .container{
                .links{
                    flex-direction: column ;
                    gap: 50px;  
                    padding-left: 20px;
                    .item{
                        width: 90%;
                    }
                }
            }
        }
    }
    .title-policy{
        padding: 0;
        justify-content: center;
        p{
            width: 95%;
        }
    }
}
@media (max-width:325px){
    .header-promo{
        .container{
          h1{
              bottom: -90px;
              button{
                width: 90%;
              }
          }
        }
    }
    .burger-btn{
        right: 0;
    }
    .pop-up{
        .registr-window{
            width: 95%;
            height: 70%;
        }
    
    }
}